/* Additional CSS */

body, table, div, p, dl {
	font-size: 16px;		/* Modified */
	font: Sans-Serif;		/* Modified */
	text-align: justify;		/* Modified */
}

h1, h2, h3, h4, h5, h6 {
	line-height: 100%;		/* Modified */
/*	text-shadow: 1px 1px 2px #8888FF;*/
}

div.line {
        font-size: 16px;		/* Modified */
}

div.textblock {
	margin: auto;			/* Modified */
	border-style: solid;		/* Modified */
	border-width: 1px;		/* Modified */
	border-color: #A0A0FF;		/* Modified */
	border-radius: 25px;		/* Modified */
	padding: 10px;			/* Modified */
	width: 800px;			/* Modified */
	background-color: #F8F8FF;	/* Modified */
	box-shadow: 5px 5px 3px grey;
	margin-bottom: 10px;
}

#nav-tree .label{
	font-size: 14px;		/* Modified */
}

#side-nav {
	box-shadow: 5px 0px 3px grey;
}

.headertitle {
	text-shadow: 1px 1px 1px #8888FF;
}

#projectname {
	text-shadow: 1px 1px 3px #8888FF;
}

.fragment {
	box-shadow: 2px 2px 3px grey;
}

.image {
	margin-bottom: 5px;
	box-shadow: 2px 2px 3px grey;
}

.doxtable {
	box-shadow: 2px 2px 3px grey;
}
